<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProvaAntigaJsp2Prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreditoServlet</display-name>
    <servlet-name>CreditoServlet</servlet-name>
    <servlet-class>CreditoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditoServlet</servlet-name>
    <url-pattern>/credito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApostaServlet</display-name>
    <servlet-name>ApostaServlet</servlet-name>
    <servlet-class>ApostaServlet</servlet-class>
    <init-param>
      <param-name>valor</param-name>
      <param-value>5000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApostaServlet</servlet-name>
    <url-pattern>/aposta</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ApostaFilter</display-name>
    <filter-name>ApostaFilter</filter-name>
    <filter-class>ApostaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApostaFilter</filter-name>
    <servlet-name>ApostaServlet</servlet-name>
  </filter-mapping>
</web-app>