<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>HSQL Datasource</description>
    <res-ref-name>jdbc/xdb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>AlunosServlet</display-name>
    <servlet-name>AlunosServlet</servlet-name>
    <servlet-class>AlunosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlunosServlet</servlet-name>
    <url-pattern>/alunos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MateriasServlet</display-name>
    <servlet-name>MateriasServlet</servlet-name>
    <servlet-class>MateriasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MateriasServlet</servlet-name>
    <url-pattern>/materias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatriculasServlet</display-name>
    <servlet-name>MatriculasServlet</servlet-name>
    <servlet-class>MatriculasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatriculasServlet</servlet-name>
    <url-pattern>/matriculas</url-pattern>
  </servlet-mapping>
</web-app>