<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SerieFuncaoExpPrj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CalculoServlet</display-name>
    <servlet-name>CalculoServlet</servlet-name>
    <servlet-class>CalculoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculoServlet</servlet-name>
    <url-pattern>/calculo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CalculoFilter</display-name>
    <filter-name>CalculoFilter</filter-name>
    <filter-class>CalculoFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>limiteDeTermos</param-name>
      <param-value>50</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CalculoFilter</filter-name>
    <servlet-name>CalculoServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>CalculoListener</listener-class>
  </listener>
</web-app>